.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App .container {
  z-index: 0;
}

.App .main-icon {
  color: #504f80;
  font-size: 4rem;
}
.App hr {
  height: 4px;
  background: black;
  margin-bottom: 1rem;
}
.App .action-button {
  background: #504f80;
  color: whitesmoke;
}
.App .bg-white {
  background: white;
  border-radius: 10px;
}

.App .vertical-align {
  margin: auto 0 !important;
}
.avatar {
  width: 70px !important;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
.spacer {
  background-color: black;
  height: 2px;
}
.h-full {
  height: 100%;
}
.min-h-screen {
  height: 100vh;
}
.px-2 {
  padding: 0 1rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/** Mobile */
@media (max-width: 380px) {
  .App {
    background: none !important;
  }
}
